@charset "utf-8";
/* CSS Document */

html, body
{
	height: 100%;		/* HTML body */
}

body {
	background-color:#004040;
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", serif;   /* Background */
	font-size: 12px;
	background-image:url("cssphotos/jpg.jpg"); 
}


#container {	
	width: 1060px;
	margin: 0 auto;			
	padding: 10px 0 0 0;
}

#header {
	width: 1040px;
	height: 75px;
	padding: 0 30px 0 0; 					
	background-image:url('cssphotos/menu.jpg');
	font-size:300%;
	font-weight:bold; 
}

#header #title {
	margin: -5px 0 0 0;
	font-size: 65px;
	letter-spacing: 6px;			
	color: #CFF;
}

#menu {		
	clear: both;
	width: 1040px;				
	height: 625px;
	padding: 30px 10px 0 20px;
	background-image:url('cssphotos/picture.jpg');;
	font-size: 15px;
	letter-spacing: 2px;
}

#menu li a:hover, #menu li .current{

	color: #FFF;
	background-color:#000000; center top repeat-x;    
}

#bildspel {
	border-style:solid;
	border-width:3px;
	clear: both;
	width: 75px;		
	height: 40px;
	margin: 25% 0 0 -100px;
	background-image:url("cssphotos/button1.jpg");
	list-style:none;
	text-decoration: none;
}

#bildspel2 {
	border-style:solid;
	border-width:3px;
	clear: both;
	width: 75px;		
	height: 40px;
	margin: -4% 0 0 1050px;
	background-image:url("cssphotos/button2.jpg");
	list-style:none;
	text-decoration: none;
}

#bildspel:hover, #bildspel  .current{
	color: #2AFFFF;
	background-color:#33336C; center top repeat-x;
}
#bildspel2:hover, #bildspel2 .current{
	color: #2AFFFF;
	background-color:#33336C; center top repeat-x;
}

#footer {
	clear: both;
	color: #ffffff;
	width: 1060px;
	height: 25px;
	padding: 10px 10px 0 0;				
	text-align: center;
	background-image:url('cssphotos/menu.jpg'); no-repeat;
	font-size: 15px;
	letter-spacing: 2px;
}

#pic 
{
	width: 600px;
	height: 600px;
	margin: -30% 0 0 20%; 					
}




